<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="http://cloud.github.com/downloads/lafeber/world-flags-sprite/flags32.css" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map_canvas { height: 100% }
			#map_canvas .info-window .content {
				margin-left:40px;
				padding-top:2px;
			}
			#map_canvas .info-window .flag {
				float:left;
			}
			#map_canvas .info-window h6 {
				margin:0px 0px 3px 0px;
				font-size:18px;
			}
			#map_canvas .info-window p {
				margin:0px 0px 6px 0px;
			}
			#map_canvas .info-window h6 .status {
				color:#666;
			}
			#map_canvas .info-window p.strapline {
				font-size:13px;
				font-style:italic;
				white-space:nowrap;
				margin-bottom:3px;
			}
    </style>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.css" />
    <!--[if lte IE 8]>
      <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.ie.css" />
    <![endif]-->
    <script src="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.js"></script>
    <script type="text/javascript" src="http://okfn.github.io/recline.backend.gdocs/backend.gdocs.js"></script>
    <script type="text/javascript">
function initialize() {

  // set up the map
  var map = L.map('map_canvas');
  var mapUrl = "http://otile{s}.mqcdn.com/tiles/1.0.0/osm/{z}/{x}/{y}.png";
  var osmAttribution = 'Map data &copy; 2011 OpenStreetMap contributors, Tiles Courtesy of <a href="http://www.mapquest.com/" target="_blank">MapQuest</a>';
  var bg = new L.TileLayer(mapUrl, {maxZoom: 18, attribution: osmAttribution ,subdomains: '1234'});
  map.addLayer(bg);
  map.setView([20, 0], 2);

  // load the groups data
  var url = 'https://docs.google.com/a/okfn.org/spreadsheet/ccc?key=0AqR8dXc6Ji4JdE1YVlozbU9XUzhOcEdidXNHYTdGZ1E#gid=0';
  recline.Backend.GDocs.fetch({url: url})
    .done(function(data) {
      _.each(data.records, function(record) {
        var marker = L.marker([record.latitude, record.longitude]).addTo(map);
        marker.bindPopup(popupContentGroups(record));
      });
    });

  // load the meetup data
  var url = 'https://docs.google.com/a/okfn.org/spreadsheet/ccc?key=0AqR8dXc6Ji4JdE1YVlozbU9XUzhOcEdidXNHYTdGZ1E#gid=1';
  recline.Backend.GDocs.fetch({url: url})
    .done(function(data) {
      _.each(data.records, function(record) {
        var circle = new L.CircleMarker([record.lat, record.lon], {
          radius: 5,
          color: '#FF6464',
          fillColor: '#FF6464',
          fillOpacity: 0.5
        }).addTo(map);
        circle.bindPopup(meetupTemplate(record));
      });
    });
}

var groupsInfoBoxTemplate = _.template(' \
  <div class="info-window f32"> \
    <span class="flag <%= iso %>"></span> \
    <div class="content"> \
      <h6><%= country %> \
      <span class="status"><%= status %></span> \
      </h6> \
      <p><%= description %></p> \
      <% if(website) { %><a class="web" href="<%= website %>" target="_blank">Website</a> <% } %> \
      <% if(twitter) { %><a class="web" href="https://twitter.com/<%= twitter%>" target="_blank">Twitter</a> <% } %> \
      <% if(discussionlist) { %><a class="web" href="<%= discussionlist %>" target="_blank">Discussion List</a> <% } %> \
      <% if (!website && !discussionlist) { %><a href="mailto:local@okfn.org">Email</a><% } %> \
');

function popupContentGroups(record) {
  var data = _.extend({}, record, {
    iso: record.iso.toLowerCase(),
  });
  return groupsInfoBoxTemplate(data);
}

meetupTemplate = _.template(' \
<div class="info-window f32"> \
  <span class="flag <%= country %>"></span> \
  <div class="content"> \
    <h6>Meet Up: <%= name %></h6> \
    <a href="<%= meetupurl %>" target="_blank">More details here</a> \
  </div> \
</div> \
');
    </script>
  </head>
  <body onload="initialize()">
    <div id="map_canvas"></div>
  </body>
</html>
