/*****************************************************
  * Fixes for OSQA sites
  ****************************************************/

#header {
  /* 990px (osqa) + 100px for the padding from wdmmg */
  width: 1090px;
}

#nav {
  margin-top: 10px;
}

#roof {
  margin-right: auto;
  margin-left: auto;
  clear: both;
}

#searchBar {
  margin-right: auto;
  margin-left: auto;
}

#CARight {
  width: 210px;
}

#logo {
  display: none;
}

/* reinstate osqa styling
  unfortunately osqa uses #wrapper as well and in different place
*/
#wrapper {
  width: 990px;
  padding: 0
  margin: auto;
}

ul {
  margin-top: 0;
}

/* centre footer area */
#ground {
  margin: auto;
}
