/* ---------- ( Generic Print Styles ) ------------------------------------ */
/* ------------- This stylesheet should be imported last ------------------ */

@media print {

  .rtop,.rbottom
  {
    display: none
  }

  #secondary, #primary, #topbar
  {
    display: none;
  }

  #main
  {
    left: 0;
    width: 94%;
    margin: 2em 3% 0 3%;
  }
  
}