body
{
  min-width: 600px;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
}

#airlock
{
  position: relative;
}

#top
{
  margin: 1.8em 0 0 0;
  min-width: 600px;
  width: 100%;
}

#top-inner
{
  margin: 0 3%;
}

#main
{
  position: absolute;
  left: 3%;
  width: 68%;
  min-width: 320px;
  margin-top: 1.4em;
}

body.plus-secondary #main
{
  left: 24%;
  width: 52%;
}

body.only-secondary #main
{
  left: 29%;
  width: 68%;
}

body.no-sidebars #main
{
  left: 3%;
  width: 94%;
}

#primary
{
  position: absolute;
  left: 72%;
  width: 24%;
  margin: 2em 0 0 1%;
}

body.plus-secondary #primary
{
  left: 77%;
  width: 19%;
}

body.only-secondary #primary, body.no-sidebars #primary
{
  display: none;
}

#secondary
{
  display: none;
  position: absolute;
  left: 0;
  margin: 2em 1% 0 3%;
}

body.plus-secondary #secondary
{
  display: block;
  width: 19%;  
}

body.only-secondary #secondary
{
  display: block;
  width: 24%;
}

/* <hr> styles needed as hacks for IE 6/Win and the funky liquid tricol layout */
hr.holder
{
  width: 600px;
  visibility: hidden;
}

hr.primary, hr.secondary
{
  width: 120px;
  visibility: hidden;
}

hr.main
{
  width: 360px;
  visibility: hidden;
}