.okf-footer {
	border-top:dotted 1px rgba(127,127,127,0.3);
	padding:15px 0;
	font-size:0.85em;
}
.okf-footer .container {
	padding:0;
}
.okf-footer .container ul {
	margin:0;
}
.okf-footer .container ul li {
	display:inline-block;
	border-right:solid 1px rgba(127,127,127,0.3);
	padding:0 7px 0 0;
	margin:0 5px 0 0;
}
.okf-footer .container ul li:last-child {
	padding:0;
	margin:0;
	border:none;
}
.okf-footer a {
	opacity:0.7;
	text-decoration:none;
}
.okf-footer a:hover {
	opacity:1.0;
}
