<div style="background-color:#0db1db; padding:35px; font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif; font-size:16px;">
<table width="530" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td>
      <table width="100%" cellpadding="0" cellspacing="0" style="margin-bottom:25px; color:#FFF;">
        <tr>
          <td width="305" height="140"><img src="http://assets.okfn.org/emails/schoolofdata/newsletter-logo.png" width="305" height="140" alt="School of Data" /></td>
          <td width="225" height="185" rowspan="2" valign="top"><img src="http://assets.okfn.org/emails/schoolofdata/newsletter.png" width="225" height="180" alt="Newsletter" /></td>
        </tr>
        <tr>
          <td style="padding-left:35px;">Hello,</td>
        </tr>
        <tr>
          <td colspan="2" style="padding:0 35px;">Intro here.</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>
      <table width="100%" cellpadding="0" cellspacing="0" style="margin-bottom:15px;">
        <tr>
          <td height="30" bgcolor="#FFFFFF"><img src="http://assets.okfn.org/emails/schoolofdata/bubble-top-white.png" width="530" height="30" alt="" /></td>
        </tr>
        <tr>
          <td bgcolor="#FFFFFF" style="padding:0 35px; color:#333333; font-size:14px;">
          <h3 style="margin:0 0 5px 0; font-size:18px;">Heading</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis velit nisl, sagittis in semper quis, tincidunt facilisis turpis. Suspendisse facilisis convallis egestas! Pellentesque fermentum semper augue ac mattis. In purus ipsum, feugiat non vulputate sed, fermentum a tortor. Curabitur at metus metus, quis sollicitudin nisi. Nunc auctor magna ut purus aliquet condimentum. Vestibulum libero mauris, euismod et rutrum id, pretium eu mauris. Nam a tellus id risus luctus fringilla. Sed condimentum dui in augue auctor lacinia. Praesent neque nunc; sodales quis bibendum vel, posuere venenatis libero.</p>
          </td>
        </tr>
        <tr>
          <td height="50" bgcolor="#FFFFFF"><img src="http://assets.okfn.org/emails/schoolofdata/bubble-bottom-white.png" width="530" height="50" alt="" /></td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>
      <table width="100%" cellpadding="0" cellspacing="0" style="margin-bottom:15px;">
        <tr>
          <td height="30" bgcolor="#FFFFFF"><img src="http://assets.okfn.org/emails/schoolofdata/bubble-top-blue.png" width="530" height="30" alt="" /></td>
        </tr>
        <tr>
          <td bgcolor="#E0F5FA" style="padding:0 35px; color:#333333; font-size:14px;">
          <h3 style="margin:0 0 5px 0; font-size:18px;">Heading</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis velit nisl, sagittis in semper quis, tincidunt facilisis turpis. Suspendisse facilisis convallis egestas! Pellentesque fermentum semper augue ac mattis. In purus ipsum, feugiat non vulputate sed, fermentum a tortor. Curabitur at metus metus, quis sollicitudin nisi. Nunc auctor m
          </td>
        </tr>
        <tr>
          <td height="50" bgcolor="#FFFFFF"><img src="http://assets.okfn.org/emails/schoolofdata/bubble-bottom-blue.png" width="530" height="50" alt="" /></td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>
      <table width="100%" cellpadding="0" cellspacing="0" style="margin-bottom:15px;">
        <tr>
          <td height="30" bgcolor="#FFFFFF"><img src="http://assets.okfn.org/emails/schoolofdata/bubble-top-white.png" width="530" height="30" alt="" /></td>
        </tr>
        <tr>
          <td bgcolor="#FFFFFF" style="padding:0 35px; color:#333333; font-size:14px;">
          <h3 style="margin:0 0 5px 0; font-size:18px;">Heading</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis velit nisl, sagittis in semper quis, tincidunt facilisis turpis. Suspendisse facilisis convallis egestas! Pellentesque fermentum semper augue ac mattis. In purus ipsum, feugiat non vulputate sed, fermentum a tortor. Curabitur at metus metus, quis sollicitudin nisi. Nunc auctor m
          </td>
        </tr>
        <tr>
          <td height="50" bgcolor="#FFFFFF"><img src="http://assets.okfn.org/emails/schoolofdata/bubble-bottom-white.png" width="530" height="50" alt="" /></td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td style="color:#FFF; padding:10px 30px 30px 30px;">
      Call to action here.
    </td>
  </tr>
  <tr>
    <td style="font-size:12px; padding:0 30px;">
      <a href="http://lists.okfn.org/mailman/options/school-of-data-announce" style="color:#FFF;">Unsubscribe</a></td>
  </tr>
</table>
</div>
