@green: #7AB800;

.okfn-ribbon {
	position:relative;
	float:right;
	width:48px;
	height:40px;
	margin-left:5px;
}
.okfn-ribbon a {
	background-image: url(//assets.okfn.org/web/images/okf-ribbon.png);
	background-repeat: no-repeat;
	background-position: center -27px;
	width:48px;
	height:73px;
	display:block;
	cursor:pointer;
	text-indent:-999px;
	overflow:hidden;
	position:absolute;
	z-index:1;
}
#okf-panel {
	border-bottom: solid 7px @green;
	margin-top:-7px;
	-webkit-box-shadow: inset 0px -1px 2px 0px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px -1px 2px 0px rgba(0, 0, 0, 0.3);
	background-color:#FFF;
}
#okf-panel > iframe {
	width:100%;
	height:120px;
	overflow:hidden;
	border:none;
}

/* Fixed positioned, in case of fixed header etc*/
.fixed-okf-panel,
.absolute-okf-panel {
	position:fixed;
	width: 100%;
	top:0px;
	z-index: 10000;
}
.absolute-okf-panel {
	position: absolute;
}
.fixed-okf-panel .okfn-ribbon,
.absolute-okf-panel .okfn-ribbon {
	position:relative;
	right:-2px;
	height:1px;
}

/* Disable on small screens */
@media (max-width: 767px) {
	#okf-panel {
		display:none;
	}
}

/* BS colapse */
#okf-panel.collapse {
  -webkit-transition: height 0.35s ease;
  -moz-transition: height 0.35s ease;
  -ms-transition: height 0.35s ease;
  -o-transition: height 0.35s ease;
  transition: height 0.35s ease;
  position: relative;
  overflow: hidden;
  height: 0;
}
