/*!
 * Theme OKFN v2.0
 * by Sam Smith
 * To be used on top of Bootstrap
 */
 
@okfgreen: #1A988B;
@purple: #A52D9B;
@red: #CB130E;
 
/* Imports */
/* ======= */
 
/* Fonts */
@import url("//fonts.googleapis.com/css?family=Open+Sans:400,700italic,700,600,400italic,600italic,300,300italic"); 


/* Styling */
/* ======= */

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6,
header,
.navbar {
	font-family:'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
header {
	font-weight:600;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top:20px;
}
h1 + h2,
h2 + h3,
h3 + h4,
h4 + h5,
h5 + h6,
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
	margin-top:10px;
}
h2 {
	font-size:28px;
	line-height:28px;
}

code,
.pre {
	color: @purple;
}

small {
  line-height: normal;
}

/* Links */
a {
  color: darken(@okfgreen, 5%);
}
a:hover {
  color: @okfgreen;
}


/* Buttons */
.btn {
	text-decoration:none;
}
.btn-primary {
  background-color: @okfgreen;
  background-image: -moz-linear-gradient(top, saturate(@okfgreen, 15%), @okfgreen);
  background-image: -ms-linear-gradient(top, saturate(@okfgreen, 15%), @okfgreen);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(saturate(@okfgreen, 15%)), to(@okfgreen));
  background-image: -webkit-linear-gradient(top, saturate(@okfgreen, 15%), @okfgreen);
  background-image: -o-linear-gradient(top, saturate(@okfgreen, 15%), @okfgreen);
  background-image: linear-gradient(top, saturate(@okfgreen, 15%), @okfgreen);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='saturate(@okfgreen, 15%)', endColorstr='@okfgreen', GradientType=0);
  border-color: @okfgreen;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); /* Not modified, but ie seems to not render radius without it */
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  background-color: @okfgreen;
}
.btn-primary:active, .btn-primary.active {
  background-color: @okfgreen;
}
.btn-group.open .btn-primary.dropdown-toggle {
  background-color: darken(@okfgreen, 5%);
}
.btn-info {
  background-color: #232323;
  background-image: -moz-linear-gradient(top, #333333, #232323);
  background-image: -ms-linear-gradient(top, #333333, #232323);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#232323));
  background-image: -webkit-linear-gradient(top, #333333, #232323);
  background-image: -o-linear-gradient(top, #333333, #232323);
  background-image: linear-gradient(top, #333333, #232323);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#232323', GradientType=0);
  border-color: #232323 #232323 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); /* Not modified, but ie seems to not render radius without it */
}
.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  background-color: #232323;
}
.btn-info:active, .btn-info.active {
  background-color: #333333 \9;
}
.btn-group.open .btn-info.dropdown-toggle {
  background-color: #000;
}

.nav-list a {
	color:#333333;
	text-decoration:none;
}
.nav-list > .active > a,
.nav-list > .active > a:hover {
  background-color: @okfgreen;
}

/* Dropdown */
.dropdown-menu a {
  text-decoration: none;
}
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  color: #ffffff;
  background-color: @okfgreen;
  background-image: none;
  filter: none;
}

/* Form Fields */
input:focus,
textarea:focus,
.navbar-form input:focus,
input[type="text"]:focus {
  border-color: rgba(43, 130, 113, 0.8);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(43, 130, 113, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(43, 130, 113, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(43, 130, 113, 0.6);
}

.well {
  background-color: #FCFCFC;
}


/* Layout */
/* ====== */

html {
  overflow-x: hidden;
}

body {
	font-size:13px;
}

.navbar-fixed-top .navbar-inner,
.navbar-inner {
  background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f3f3f3), color-stop(51%,#ededed), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(top, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #E5E5E5;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 -1px 0 rgba(0, 0, 0, 0.0);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 -1px 0 rgba(0, 0, 0, 0.0);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 -1px 0 rgba(0, 0, 0, 0.0);
	color:#333333;
	font-size:14px;
	border-top:none;
	-webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
	margin-left: -1px;
  margin-right: -1px;
}
.navbar-inner .container {
	width:940px;
	min-height:60px;
}
.navbar .brand {
	padding-top:20px;
	text-decoration:none;
}

.navbar .nav > li > a {
	padding-top:20px;
	padding-bottom:20px;
}


.sub-header {
	background-color: #F5F5F5;
	border-bottom:solid 1px #EFEFEF;
	margin:-20px 0 20px 0;
}


.hero-unit,
.banner,
.banner:before,
.banner:after {
	background: #f5f5f5; /* Old browsers */
	background: -moz-linear-gradient(top, #c8c8c8 0%, #f5f5f5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c8c8c8), color-stop(100%,#f5f5f5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #c8c8c8 0%,#f5f5f5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #c8c8c8 0%,#f5f5f5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #c8c8c8 0%,#f5f5f5 100%); /* IE10+ */
	background: linear-gradient(to bottom, #c8c8c8 0%,#f5f5f5 100%); /* W3C */
	font-size:14px;
}
.banner {
	position: relative;
	-webkit-box-shadow: 0px 1px 0px 0px #efefef;
  -moz-box-shadow: 0px 1px 0px 0px #efefef;
  box-shadow: 0px 1px 0px 0px #efefef;
	margin-top:-20px;
	margin-bottom:20px;
}
.banner:before,
.banner:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 9999px;   /* some huge width */
	-webkit-box-shadow: 0px 1px 0px 0px #efefef;
  -moz-box-shadow: 0px 1px 0px 0px #efefef;
  box-shadow: 0px 1px 0px 0px #efefef; 
}
.banner:before {
  right: 100%;
}
.banner:after {
  left: 100%;
}
.banner > div {
	padding-top:30px;
	padding-bottom:30px;
}

body > footer,
html {
	background-color:#EFEFEF;
}

body > footer {
	border-top: 1px solid #E5E5E5;
	margin-top:30px;
}
body > footer .container {
	padding-top:20px;
	padding-bottom:20px;
}


/* Media Queries */
/* ============= */

@media (max-width: 979px) {
	.navbar .navbar-inner {
		margin-left:-20px;
		margin-right:-20px;
	}
	.navbar .container {
		width: 724px !important;
	}
	.navbar .brand {
		padding-left:10px;
	}
	.navbar .btn-navbar {
    margin-top: 16px;
	}
}

@media (max-width: 767px) {
	.navbar .container {
		width: auto !important;
	}
	.navbar-inner {
		padding-left:15px !important;
		padding-right:15px !important;
	}
	body > footer {
		margin-left:-20px;
		margin-right:-20px;
	}
	body > footer .container {
		padding-left:20px;
		padding-right:20px;
	}
}
